.footer {
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    margin-top: 20px;
    color: #fff;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-height: 300px;

    h3 {
        font-size: 1.9rem;
        font-weight: 500;
        text-transform: capitalize;
        line-height: 3rem;
        margin: 10px 0 0 0;
    }

    p {
        max-width: 500px;
        line-height: 30px;
        font-size: 15px;
        color: #cacdd2;
        margin: 10px 0 0 0;
    }
}

.footer-bottom {
    background: #000;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        float: left;
        font-size: 14px;
        word-spacing: 1.5px;
        margin: 10px 0 0 0;

        a {
            color: #44bae8;
            font-size: 16px;
            text-transform: capitalize;
        }
    }

    span {
        text-transform: uppercase;
        opacity: 0.4;
        font-weight: 200;
    }
}

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing        : 265ms;
$iconColor     : #9c5b11;
$accent        : #5c3108;
$bluefade      : #e06500;
$gradient      : #00B5F5;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}

body {
    background-color: rgba($iconColor, 0.05);
}

.social-container {
    display: flex;
    justify-items: center;
    width: auto;
    text-align: center;
    margin-right: 0px;
    padding: 0px;
}

.social-icons {
    padding: 0px;
    list-style: none;
    margin: 15px;
  
    li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;

    }

    i {
        font-size: x-large;
        color: #fff;
        position: absolute;
        top: 19px;
        left: 19px;
        transition: all $timing ease-out;
    }

    a {
        display: inline-block;
      
        &:before {
            @include transformScale();
            content: " ";
            width: 60px;
            height: 60px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, $iconColor, $accent);
            transition: all $timing ease-out;
        }
        
        &:hover:before {
            transform: scale(0);
            transition: all $timing ease-in;
        }
        
        &:hover i {
            @include transformScale(2.2);
            color: $iconColor;
            background: -webkit-linear-gradient(45deg, $iconColor, $accent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;
        }
    }
  
}