@import "navbar", "table", "footer";

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;    

  }

//Indexxxxxxxxxxxxxxxxxxxx
.medicos {
  display: flex;
  flex-direction: row;
}
.novedades {
  padding: 140px 0 30px 15px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 400px;
  
  article {
    align-items: center;
    background-color: #650404;
    border-radius: 0.8rem;
    text-align: center;
    margin-top: 15px;
    h2 {
      font-size: x-large;
      color: white;
    }
    p {
      color: white;
    }
  }
  
}

//Informaciónnnnnnnnnnnnnnnnnnnnn
.informacion {
  padding: 80px;
  article {
    background-color: #ffd181;
    border-radius: 0.8rem;
    text-align: center;
    margin-top: 15px;
    h2 {
      font-size: x-large;
      color: white;
    }
    p {
      color: white;
      text-align: left;
    }
    li {
      text-align: left;
    }
  }
}