@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  line-height: 1;
  color: inherit;
  font-size: 20px;
}

@media (width >= 500px) {
  button {
    font-size: 16px;
  }
}
:is(.navbar, .burger, .dropdowns) {
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar {
  z-index: 1;
  left: 0;
  display: flex;
  align-items: stretch;
  height: 72px;
  background: #fdb454;
  color: #252525;
  font-weight: bold;
  text-decoration: none;
}

.burger {
  z-index: 3;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .burger {
  background-image: url("close.svg");
}

@media (width >= 500px) {
  .burger {
    display: none;
  }
}
.button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0 24px;
  height: 100%;
  opacity: 0.6;
}
.button a {
  text-decoration: none;
}
.button a:visited {
  color: inherit;
}

.button > img {
  display: none;
}

@media (width >= 500px) {
  .button {
    padding: 0 10px 0 24px;
  }
  .button > img {
    display: block;
  }
}
@media (width >= 500px) {
  .dropdown:hover .button {
    opacity: 1;
  }
}
.dropdowns {
  left: -9999px;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #979420;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
}

@media (width < 500px) {
  body.open .dropdowns {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}
@media (width >= 500px) {
  .dropdowns {
    position: static;
    flex-direction: row;
    justify-content: flex-start;
    background: transparent;
    opacity: 1;
    visibility: visible;
  }
}
.dropdown {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dropdown-menu {
  display: grid;
  margin-bottom: 28px;
  text-decoration: none;
}
.dropdown-menu a {
  text-decoration: none;
  color: #252525;
}

@media (width >= 500px) {
  .dropdown {
    height: 100%;
    flex-direction: row;
  }
  .dropdown-menu {
    position: absolute;
    top: 72px;
    left: 0;
    width: 180px;
    padding: 6px 24px 10px;
    margin-bottom: 0;
    place-items: start;
    background: #ffd181;
    opacity: 0;
    visibility: hidden;
    translate: 0 24px;
    transition: 0.3s;
    color: #252525;
  }
  .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    translate: 0 0;
  }
}
.dropdown-menu > button {
  color: #252525;
  opacity: 1;
  height: 40px;
}

@media (width >= 500px) {
  .dropdown-menu > button {
    opacity: 0.6;
  }
  .dropdown:hover .button {
    opacity: 1;
  }
}
.dropdown-menu > button:hover {
  opacity: 1;
}

.input {
  display: flex;
  padding-top: 80px;
  max-width: 700px;
}

#myInput,
#myInput2 {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-right: 10px;
  border-radius: 0.7rem;
  background-color: #f5f1e5;
}
#myInput:hover,
#myInput2:hover {
  border: 1px solid #fdb454;
}
#myInput:focus,
#myInput2:focus {
  outline: none !important;
  border: 1px solid #fdb454;
  background-color: #ffffff;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid rgba(233, 232, 232, 0.918);
  font-size: 15px;
}
#myTable tr.header {
  background-color: #ffd181;
}
#myTable tr.header:hover {
  background-color: #ffd181;
}
#myTable tr {
  border-bottom: 1px solid #ddd;
}
#myTable tr:hover {
  background-color: rgba(255, 209, 129, 0.1647058824);
}
#myTable td, #myTable th {
  padding: 12px;
}
#myTable td a, #myTable th a {
  text-decoration: none;
  color: #106e5a;
  font-weight: bold;
}

.tableContainer {
  padding: 0 0 0 20px;
  max-width: 80%;
  margin: 0px;
  min-width: 70%;
}

.footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;
  margin-top: 20px;
  color: #fff;
}

.footerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-height: 300px;
}
.footerContent h3 {
  font-size: 1.9rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
  margin: 10px 0 0 0;
}
.footerContent p {
  max-width: 500px;
  line-height: 30px;
  font-size: 15px;
  color: #cacdd2;
  margin: 10px 0 0 0;
}

.footer-bottom {
  background: #000;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-bottom p {
  float: left;
  font-size: 14px;
  word-spacing: 1.5px;
  margin: 10px 0 0 0;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

body {
  background-color: rgba(156, 91, 17, 0.05);
}

.social-container {
  display: flex;
  justify-items: center;
  width: auto;
  text-align: center;
  margin-right: 0px;
  padding: 0px;
}

.social-icons {
  padding: 0px;
  list-style: none;
  margin: 15px;
}
.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}
.social-icons i {
  font-size: x-large;
  color: #fff;
  position: absolute;
  top: 19px;
  left: 19px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #9c5b11, #5c3108);
  transition: all 265ms ease-out;
}
.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #9c5b11;
  background: -webkit-linear-gradient(45deg, #9c5b11, #5c3108);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.medicos {
  display: flex;
  flex-direction: row;
}

.novedades {
  padding: 140px 0 30px 15px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 400px;
}
.novedades article {
  align-items: center;
  background-color: #650404;
  border-radius: 0.8rem;
  text-align: center;
  margin-top: 15px;
}
.novedades article h2 {
  font-size: x-large;
  color: white;
}
.novedades article p {
  color: white;
}

.informacion {
  padding: 80px;
}
.informacion article {
  background-color: #ffd181;
  border-radius: 0.8rem;
  text-align: center;
  margin-top: 15px;
}
.informacion article h2 {
  font-size: x-large;
  color: white;
}
.informacion article p {
  color: white;
  text-align: left;
}
.informacion article li {
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
