@import "navbar", "table", "footer";

* {
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;    

  }
main{
  margin-top: 80px;
}
//Indexxxxxxxxxxxxxxxxxxxx
.medicos {
  display: flex;
  flex-direction: row;
  .novedades {
    padding: 0 0 30px 15px;
    display: flex;
    flex-direction: column;
    min-width: 250px;
    max-width: 400px;
    
    article {
      align-items: center;
      background-color: #650404;
      border-radius: 0.8rem;
      text-align: center;
      margin-top: 15px;
      h2 {
        font-size: x-large;
        color: white;
      }
      p {
        color: white;
      }
    }
    
  }
}

//Informaciónnnnnnnnnnnnnnnnnnnnn
.informacion {
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: row;
  .infoCont {
    max-width: 68%;
  }
  article {
    background-color: #ffd181;
    border-radius: 0.8rem;
    text-align: center;
    margin-top: 15px;
    padding: 1px;
    h2 {
      font-size: x-large;
    }
    p {
      text-align: left;
      margin-left: 10px;
    }
    li {
      text-align: left;
    }
  }
  .novedades {
    padding: 20px 0 0 20px;
    min-width: 250px;
    article {
      padding: 2px;
      margin-top: 15px;
      h2{
        color: black;
        margin-top: 10px;
      }
      p {
        text-align: center;
        margin-left: 10px;
        color: black;
        font-weight: bold;
        font-size: large;
      }
    }
  }
}

//Ventanillllllllllaaaaaaaaaaaaaaaaaaaaaaa
.card-wrap {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  a {
    align-items: center;
    background-color: #106e5a;
    border-radius: 0.8rem;
    text-align: center;
    margin: 15px;
    padding: 2px;
    min-width: 185px;
    max-width: 190px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    h2 {
      margin: 0;
      text-transform: uppercase;
    }
  }
}